<div class="form">

  <div class="form-header"> Share Your Favorite Snack: </div>

  <form action="/addrecipe" accept-charset="UTF-8" method="post">
    <div class="newrecipe"><input type="text" placeholder = "Name of Snack" name="recipe" /> </div>
    <div class="newrecipe"><input type="text" placeholder = "Name of Chef" name="chef"/></div>
    <div class="newrecipe"><input type="text" placeholder = "Food Image URL" name="foodpic"/></div>
    <div class="newrecipe"><textarea type="text" placeholder = "Comments About Snack" name="comment"></textarea></div>
    <div class="newrecipe"><input id="submit" type="submit" value = "Add New Snack" /></div>
  </form>

  <div>
    <a id="home" href="/">Home</a>
  </div>

</div>
